<!-- navbar.ejs -->

<nav class="navbar">
  <ul>
    <li><a class="<%= (page === '/') ? 'active' : '' %>" href="/">Home</a></li>
    <li>
      <a
        class="<%= (page === '/lego/sets') ? 'active' : '' %>"
        href="/lego/sets"
        >View Collection</a
      >
    </li>
    <li>
      <a class="<%= (page === '/about') ? 'active' : '' %>" href="/about"
        >About</a
      >
    </li>
  </ul>
</nav>
